<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>
    <add name="AppQLSVDAL" connectionString="data source=.\SQLEXPRESS;initial catalog=QLSV;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework"
        providerName="System.Data.SqlClient" />
    <add name="Nhom1_12_1_2020.Properties.Settings.SqlQLSVConnectionString"
        connectionString="Data Source=DESKTOP-39FGVIL\SQLEXPRESS;Initial Catalog=QLSV;Persist Security Info=True;User ID=sa;Password=123"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>